* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.box {
  border: 2px solid black;
  border-radius: 15px;
  height: 250px;
  margin: 20px;
  text-align: center;
  width: 210px;
  a {
    margin-top: 150px;
  }
  p {
    margin-top: 10px;
  }
}

.card {
  border: 2px solid black;
  height: 700px;
  overflow: hidden;
  margin-bottom: 50px;
  position: absolute;
  width: 100%;

  &.is_previous {
    left: -100%;
  }

  &.is_current {
    left: 0;
    z-index: 10;
  }

  &.is_next {
    left: 100%;
  }
}
