* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.box {
  border: 2px solid black;
  border-radius: 15px;
  height: 250px;
  margin: 20px;
  text-align: center;
  width: 210px;
  a {
    margin-top: 150px;
  }
  p {
    margin-top: 10px;
  }
}

.green {
  background-color: green;
}
